## Analyzing Climate change

In [9]:
import pandas as pd 
%matplotlib inline

ERROR: Line magic function `%inline` not found.

In [6]:
##five hottest major cities in 2013
TempByMajorCity = pd.read_csv('../input/GlobalLandTemperatures/GlobalLandTemperaturesByMajorCity.csv',index_col='dt',parse_dates=[0])
TempByMajorCity[TempByMajorCity.index.year == 2013][['City','Country','AverageTemperature']].groupby(['City','Country']).mean().sort_values('AverageTemperature',ascending=False).head()

                         AverageTemperature
City       Country
Umm Durman Sudan                  30.650500
Madras     India                  30.411750
Bangkok    Thailand               28.984750
Jiddah     Saudi Arabia           28.875875
Hyderabad  India                  28.851250

In [7]:
# Five coldest major cities in 2013
TempByMajorCity[TempByMajorCity.index.year == 2013][['City','Country','AverageTemperature']].groupby(['City','Country']).mean().sort_values('AverageTemperature',ascending=True).head()

                          AverageTemperature
City             Country
Harbin           China              5.616875
Santiago         Chile              5.938125
Saint Petersburg Russia             6.058750
Moscow           Russia             6.798875
Changchun        China              6.938500

In [8]:
pd.rolling_mean(TempByMajorCity[TempByMajorCity['City'] == 'New Delhi']['AverageTemperature'],window=12).plot(x=TempByMajorCity.index)